.cont {
  background-image: linear-gradient(
    #fbfcfe,
    #f2f8ff,
    #e3f0fe,
    #dcedff,
    #e1efff,
    #e1effe,
    #e6f2ff,
    #ecf5ff,
    #f0f7fe,
    #f8fbff,
    #fcfdfe
  );
}
.btn {
  color: rgb(9, 62, 72);
  background-image: linear-gradient(
    to right,
    #c0defd,
    #add4fe,
    #94c8fe,
    #7fbdfe,
    #72b7ff,
    #63affe
  );
  padding: 20px;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  font-family: "TT Norms Pro", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  height: 24px;
  letter-spacing: 4px;
  line-height: 24px;
}
